<style>
body {
  background: gray;
}
.centering_div{
  text-align:center;
}
.bounding_div {
  display:inline-block;
  width: 400px;
  text-align:left;
  background-color: white;
  padding:50px;
}
</style>
<div class="centering_div">
	<div class="bounding_div">
		<h1>
			Pushit.online
		</h1>
		<img src='/images/upload.png'/>

		<h3>
			The really simple way to host your prototypes:
		</h3>
		<pre>
npm install -g pushit.online
pushit &lt;file or directory&gt;
		</pre>
		<h3>How it works: </h3>
		<p>
		You start by uploading a file or directory. You then get assigned a subdomain based on the name of the file your are uploading. For instance, if you upload "My Files", your files may get hosted at my_files.pushit.online .
		</p>
		<h3>Why one might want this:</h3>
		<p>
			I sometimes found myself needing a temporary holding place to host small HTML projects, or to make some files available for download. This is created to fill such needs.
		</p>
		<h3>Why this is the best prototype hosting service:</h3>
		<p>
			<ul>
			  <li>It's free and doesn't require any login</li>
			  <li>It's going to stay that way</li>
			</ul>
		</p>
		<h3>Quotas:</h3>
		<p>
			<ul>
			  <li>100MB of data per uploaded project</li>
			  <li>Long term storage and bandwidth quotas are not yet established</li>
			</ul>
		</p>
		<h3>
			Don't abuse this service.
		</h3>
	</div>
</div>
