
<!--
I am directory


<%= files.to_json %>
-->



<div id="content">
    <h3>File Listing for <%= project.name+(current_dir) %>:</h3>
     <div class="columns">
         <ul>
            <% files.each do |f|%>
            <li>
            <a href='<%= current_dir +"/"+ f %>'  class='file-link'>
              <%= f %>
            </a>
            </li>
            <% end %>
         </ul>
     </div>
</div>

