/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



body{
    font-family: sans-serif;
}

.file-listing{
    display:block;
    border:1px solid #ccc;
    margin: 2px;
}

.file-listing:hover{
    background: lightblue;
}


#content
{
    width: 71.875%; /* 650/960 */
    max-width: 960px;
    text-align: left;
    margin: 0px auto; /*auto centers the container */
    padding: 30px; /* 25/650 */
}
/*CSS3 multiple columns.*/
/* Get em size for colums: 184/16 */
.columns
{
    -moz-column-width: 11.5em; /* Firefox */
    -webkit-column-width: 11.5em; /* webkit, Safari, Chrome */
    column-width: 11.5em;
}
/*remove standard list and bullet formatting from ul*/
.columns ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/* correct webkit/chrome uneven margin on the first column*/
.columns ul li:first-child
{
    margin-top:0px;
}
.columns li{

    margin-bottom: 5px;
}

.file-link {
    display: inline-block;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    background: #e6e6e6;
}

.file-link:hover{
    color:white;
    background: gray;
}


